<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait other" src="/images/sample.jpeg">
    </div>
    {{>footer}}
</body>
</html>