<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Weather page</p>
        <form>
            <input type="text" class="form-control" name="address" placeholder="Address">
            <button type="submit">Submit</button>
        </form>
    </div>
    {{>footer}}
<script src="/js/app.js"></script>
</body>
</html>